server:
  port: 8084

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: tpfoyer-bloc
          uri: http://localhost:8089
          predicates:
            - Path=/tpfoyer/bloc/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG

spring.zipkin.enabled: false
management.tracing.enabled: false
